.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 4.3rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0px;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 500;
}

p {
  margin-bottom: 0.5rem;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

a {
  font-family: Generalsans;
  color: #09101d;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  text-decoration: underline;
  cursor: pointer;
}

a.w--current {
  color: #d83754;
  font-weight: 600;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  list-style-type: disc;
}

li {
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

blockquote {
  margin-bottom: 0px;
  padding: 0px;
  border-left: 0px none #e2e2e2;
  font-family: Satoshi, sans-serif;
  color: #667785;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-style: normal;
  font-weight: 500;
}

.nav-logo-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1410px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.stage_home {
  position: relative;
  padding-top: 14rem;
  padding-bottom: 8rem;
}

.body {
  font-size: 16px;
}

.stage-buttons_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

.primary-btn {
  padding: 1rem 2.625rem;
  border-style: solid;
  border-width: 2px;
  border-color: #09101d;
  border-radius: 0.5rem;
  background-color: #09101d;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: Satoshi, sans-serif;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
}

.primary-btn:hover {
  border-color: #1c2330;
  background-color: #1c2330;
}

.primary-btn.mid-text-space {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.primary-btn.mt1 {
  margin-top: 1rem;
}

.primary-btn.mt1.mb2 {
  margin-bottom: 2rem;
}

.secondary-btn {
  margin-left: 1.5rem;
  padding: 1rem 2.625rem;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  border-color: #e2e5e8;
  border-radius: 0.5rem;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0px;
}

.secondary-btn:hover {
  border-color: #e2e5e8;
  background-color: #e2e5e8;
  color: #09101d;
}

.secondary-btn.w--current {
  color: #09101d;
}

.home_image {
  position: relative;
}

.container-fluid {
  width: 100%;
}

.col2 {
  padding-right: 0px;
  padding-left: 0px;
}

.home_img-wrap {
  height: 900px;
  max-height: 100%;
  background-image: url('../images/context-header.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.bg-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8f8f8;
}

.bg {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  min-height: 35vh;
  background-color: #f8f8f8;
}

.centered-text-wrap {
  width: 100%;
  max-width: 43.125rem;
  margin-right: auto;
  margin-left: auto;
}

.ondark {
  margin-top: 0px;
  margin-bottom: 1.5rem;
  font-family: Satoshi, sans-serif;
  color: #fff;
  font-weight: 500;
}

.toptitel-white {
  margin-bottom: 1rem;
  font-family: Satoshi, sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}

.features {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.features.pt8 {
  padding-top: 8rem;
}

.features.pt8.pb4 {
  padding-bottom: 4rem;
}

.features.pt4 {
  padding-top: 4rem;
}

.features.pt4.pb4 {
  padding-bottom: 4rem;
}

.features.pt4.pb8 {
  padding-bottom: 8rem;
}

.features._1stf {
  padding-top: 8rem;
}

.features._3rdf {
  padding-bottom: 8rem;
}

.feature-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-cols.extra-space_top {
  padding-top: 8rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-cols.extra-space_bottom {
  padding-bottom: 8rem;
}

.col6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.feature-wrap {
  max-width: 30rem;
}

.feature-img_wrap {
  text-align: center;
}

.cta {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #7c1f41;
}

.cta.extraspace {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.cta.newsletter-space {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.footer {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #09101d;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  justify-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: -webkit-max-content 1fr 1fr 1fr 1fr;
  -ms-grid-columns: max-content 1fr 1fr 1fr 1fr;
  grid-template-columns: -webkit-max-content 1fr 1fr 1fr 1fr;
  grid-template-columns: max-content 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-text {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.align-m.logo-space {
  padding-right: 3rem;
}

.footer-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Satoshi, sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0px;
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  color: #d83754;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding: 20px;
  background-color: #fff;
  color: #09101d;
}

.nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-link:hover {
  color: #d83754;
}

.nav-link.w--current {
  font-family: Satoshi, sans-serif;
  color: #d83754;
  font-weight: 700;
}

.context_img-wrap {
  min-height: 780px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.context_img-wrap.img-storytelling_01 {
  background-image: url('../images/matthieu-joannon-25EEyoY58zI-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.context_img-wrap.img-storytelling_02 {
  background-image: url('../images/nacho-dominguez-argenta-F_ilCik66Hg-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.context_img-wrap.img-storytelling_03 {
  background-image: url('../images/lasseter-winery-asG1QSDvb4g-unsplash-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.context_img-wrap.img-storytelling_04 {
  background-image: url('../images/shutterstock_1507190927.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.context_img-wrap.img-storytelling_05 {
  background-image: url('../images/michael-c-qZp9ixAouI4-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.context_img-wrap.img-storytelling_06 {
  background-image: url('../images/PL_0492.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.context_img-wrap.img_context {
  background-image: url('../images/matthieu-joannon-6ciLddToTgM-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.context_img-wrap.img-credits {
  background-image: url('../images/elisha-terada-MDJvfXJGnRM-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.white-p {
  font-family: Satoshi, sans-serif;
  color: #fff;
  font-weight: 400;
}

.navigation-dropdown {
  min-width: 140px;
}

.navigation-dropdown.w--open {
  left: 0px;
  max-height: 100vh;
  min-width: 300px;
  background-color: #fff;
  box-shadow: 0 50px 25px -50px rgba(32, 53, 90, 0.15), 8px 18px 60px 4px rgba(0, 0, 0, 0.13);
}

.dropdown-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 55px;
  padding: 1rem 2rem 1.125rem;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #fff;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
}

.dropdown-link:hover {
  display: block;
  background-color: #fff;
  font-family: Satoshi, sans-serif;
  color: #d83754;
}

.dropdown-link.w--current {
  font-family: Satoshi, sans-serif;
  color: #d83754;
  font-weight: 700;
}

.dropdown-toggle {
  padding-right: 1.625rem;
  padding-left: 0px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.dropdown-toggle:hover {
  color: #d83754;
}

.icon-4 {
  margin-right: 5px;
}

.titel-stage {
  padding-top: 14rem;
  padding-bottom: 6rem;
}

.breadcrumb-text {
  font-family: Satoshi, sans-serif;
  color: #667785;
  font-size: 1rem;
  font-weight: 500;
}

.breadcrumb-link {
  font-family: Satoshi, sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  text-decoration: none;
}

.breadcrumb-link.w--current {
  font-weight: 500;
}

.headline_wrap.pt2 {
  padding-top: 2rem;
}

.bg-grey {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  min-height: 30vh;
  background-color: #f8f8f8;
}

.colored-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f8f8f8;
}

.colored-section.pt8 {
  padding-top: 8rem;
}

.colored-section.pt8.pb8 {
  padding-bottom: 8rem;
}

.toptitel {
  font-family: Satoshi, sans-serif;
  color: #d83754;
  font-size: 1rem;
  font-weight: 500;
}

.toptitel.white {
  color: #fff;
}

.plain-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #fff;
}

.plain-section.pt8 {
  padding-top: 8rem;
}

.plain-section.pt8.pb8 {
  padding-bottom: 8rem;
}

.quote-wrap {
  width: 100%;
  max-width: 60rem;
  padding: 3rem;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: none;
  font-style: normal;
}

.quote-wrap.mt3 {
  margin-top: 3rem;
}

.quote-wrap.mt3.mb3 {
  margin-bottom: 3rem;
}

.quote-info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.quote-img {
  width: 4rem;
  max-width: 100%;
  border-radius: 50px;
}

.quote-info-text {
  padding-left: 1rem;
}

.quote-name {
  padding-bottom: 0.5rem;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 1.2rem;
  font-weight: 500;
}

.text-block-62 {
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 1rem;
  font-weight: 400;
}

.logo-drafts-wrap {
  width: 100%;
  max-width: 60rem;
  margin-top: 0rem;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.logo-drafts-wrap.mt3 {
  margin-top: 3rem;
}

.grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: transparent;
}

.draft-wrap {
  border-radius: 1rem;
  background-color: transparent;
}

.image-corners {
  border-radius: 1rem;
}

.image-corners.not-chosen {
  border-style: solid;
  border-width: 2px;
  border-color: #bc0038;
}

.image-corners.not-chosen.logodrafts_minw {
  width: 100%;
  max-width: 600px;
}

.image-corners.is-chosen {
  border-style: solid;
  border-width: 2px;
  border-color: #4fa892;
}

.image-corners.is-chosen.logodrafts_minw {
  width: 100%;
  max-width: 600px;
}

.toptitel-grey {
  margin-bottom: 1rem;
  font-family: Satoshi, sans-serif;
  color: #667785;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: none;
}

.slide {
  height: 100%;
  max-height: none;
  text-align: center;
}

.slider {
  height: 100%;
  background-color: transparent;
  text-align: left;
}

.icons-slider {
  display: none;
  color: #667785;
}

.slider-container {
  width: 100%;
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
}

.slider-container.mt3 {
  margin-top: 3rem;
}

.md-wrap {
  width: 100%;
  max-width: 60rem;
  margin-top: 0rem;
  margin-right: auto;
  margin-left: auto;
}

.md-wrap.pt3 {
  padding-top: 3rem;
}

.md-wrap.pt3.pb3 {
  padding-bottom: 3rem;
}

.two-columns {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.right-arrow_inline-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.left-arrow_inline-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.sub-nav_link-text {
  max-width: 295px;
  font-family: Satoshi, sans-serif;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.9375rem;
  font-weight: 500;
  text-decoration: none;
}

.container--project_sub-nav {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1410px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.sub-nav_link-block {
  text-decoration: none;
}

.left-arrow {
  margin-right: 1rem;
}

.right-arrow {
  margin-left: 1rem;
}

.lottie-animation {
  width: 100%;
  max-width: 64px;
}

.three-columns {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.three-columns.pt4 {
  padding-top: 4rem;
}

.three-columns.pt4.pb4 {
  padding-bottom: 4rem;
}

.three-columns.mt3 {
  margin-top: 3rem;
}

.three-columns.mt3.mb3 {
  margin-bottom: 3rem;
}

.interview-quote-qrap {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f8f8f8;
}

.tab-titel {
  font-family: Satoshi, sans-serif;
  font-weight: 500;
}

.tab-link {
  padding: 1rem 3rem;
  background-color: transparent;
}

.tab-link.w--current {
  padding: 1rem 3rem;
  background-color: #f8f8f8;
}

.tab-inner {
  padding: 2rem;
  background-color: #f8f8f8;
}

.numbered-list {
  margin-top: 1rem;
  padding-left: 1.6rem;
  list-style-type: decimal;
}

.highlight-text {
  background-color: rgba(216, 55, 84, 0.09);
  color: #09101d;
  font-weight: 500;
}

.p-space {
  margin-top: 1rem;
}

.textlink {
  font-family: Satoshi, sans-serif;
  color: #7c1f41;
}

.lead {
  margin-bottom: 0px;
  font-size: 1.4rem;
  line-height: 1.9rem;
}

.lead.mbx {
  margin-bottom: 0.5rem;
}

.statistik.mb1x {
  margin-bottom: 1.5rem;
}

.stat-legende {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
}

.field-label {
  margin-top: 1rem;
  color: #f8f8f8;
  font-weight: 500;
}

.text-field {
  height: 56px;
  border-radius: 8px;
  font-family: Satoshi, sans-serif;
  color: #09101d;
  font-size: 1rem;
  font-weight: 500;
}

.text-field::-webkit-input-placeholder {
  color: #667785;
}

.text-field:-ms-input-placeholder {
  color: #667785;
}

.text-field::-ms-input-placeholder {
  color: #667785;
}

.text-field::placeholder {
  color: #667785;
}

.nl-form {
  margin-top: 2rem;
}

.success-message {
  padding-bottom: 0px;
  background-color: #fff;
}

.error-message {
  padding: 1rem 1rem 0px;
  background-color: #f8f8f8;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.text-block-63 {
  font-weight: 500;
}

.text-block-64 {
  text-align: center;
}

.quell-link {
  font-family: Satoshi, sans-serif;
  color: #d83754;
  font-size: 1rem;
  font-weight: 400;
}

.mt2 {
  margin-top: 2rem;
}

.mt2.mb1 {
  margin-bottom: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt1.mb1x {
  margin-bottom: 1.5rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt3.mb1 {
  margin-bottom: 1rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.custom-left-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-nav-hidden {
  display: none;
}

.custom-right-arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mb1 {
  margin-bottom: 1rem;
}

.white {
  color: #fff;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.test-footer {
  background-color: #09101d;
}

.testfooter-con {
  width: 100%;
  max-width: 1410px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.copyright {
  width: 100%;
}

.copyright-text {
  margin-top: 2rem;
  padding-top: 2rem;
  border-style: none;
  border-width: 1px;
  border-color: #667785 #000 #000;
  color: #667785;
  text-align: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.column-2 {
  padding-right: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-align: right;
}

.column-3 {
  padding-left: 0px;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-5 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-6 {
  padding-right: 0px;
  padding-left: 0px;
}

.image {
  display: block;
}

@media screen and (max-width: 991px) {
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .stage_home {
    padding-top: 12rem;
  }

  .stage-home_columns {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .col4 {
    display: none;
  }

  .col8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .primary-btn.mt1.mb2 {
    margin-bottom: 2rem;
  }

  .col1 {
    display: none;
  }

  .centered-text-wrap {
    max-width: none;
  }

  .features {
    padding: 3rem 1rem;
  }

  .features._1stf {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .features._3rdf {
    padding-bottom: 6rem;
  }

  .feature-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .feature-cols.extra-space_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .col6 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .col6.last {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .feature-img_wrap {
    margin-top: 2rem;
  }

  .cta {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .cta.newsletter-space {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .footer-grid {
    -ms-grid-columns: -webkit-max-content 1fr;
    -ms-grid-columns: max-content 1fr;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-text_wrap {
    margin-top: 1rem;
  }

  .align-m.logo-space {
    padding-bottom: 1rem;
  }

  .navbar {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .nav-link {
    background-color: #fff;
    font-size: 2.5rem;
    line-height: 3.75rem;
  }

  .menu-button {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 0px;
    padding: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .top-line {
    position: absolute;
    left: 0px;
    top: 12px;
    right: 0px;
    width: 40px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #d83754;
    border-radius: 20px;
    color: #d83754;
  }

  .middle-line {
    position: absolute;
    left: 0px;
    top: 22px;
    right: 0px;
    width: 40px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #d83754;
    border-radius: 20px;
    color: #d83754;
  }

  .bottom-line {
    position: absolute;
    left: 0px;
    top: 32px;
    right: 0px;
    width: 40px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #d83754;
    border-radius: 20px;
    color: #d83754;
  }

  .nav-menu {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
  }

  .context_img-wrap {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }

  .navigation-dropdown.w--open {
    box-shadow: none;
  }

  .dropdown-link {
    font-size: 2rem;
    line-height: 3.5rem;
  }

  .titel-stage {
    padding-top: 12rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .colored-section {
    padding: 6rem 1rem;
  }

  .colored-section.pt8.pb8 {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .plain-section {
    padding: 6rem 1rem;
  }

  .plain-section.pt8.pb8 {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .container--project_sub-nav {
    -ms-grid-columns: 1fr 0.75fr 1fr;
    grid-template-columns: 1fr 0.75fr 1fr;
  }

  .three-columns {
    padding-right: 3rem;
    padding-left: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .three-columns.mt3.mb3 {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .heading {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .test-footer {
    padding-left: 1rem;
  }

  .copyright-text {
    text-align: left;
  }

  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-2 {
    display: none;
    padding-top: 2rem;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.4rem;
  }

  .stage_home {
    padding-top: 10rem;
  }

  .col1 {
    display: none;
  }

  .home_img-wrap {
    height: 650px;
  }

  .cta {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .footer-grid {
    -ms-grid-columns: -webkit-max-content;
    -ms-grid-columns: max-content;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
  }

  .context_img-wrap.img-storytelling_01 {
    min-height: 650px;
  }

  .context_img-wrap.img-storytelling_02 {
    min-height: 650px;
  }

  .context_img-wrap.img-storytelling_03 {
    min-height: 650px;
  }

  .context_img-wrap.img-storytelling_04 {
    min-height: 650px;
  }

  .context_img-wrap.img-storytelling_05 {
    min-height: 650px;
  }

  .context_img-wrap.img-storytelling_06 {
    min-height: 650px;
  }

  .context_img-wrap.img_context {
    min-height: 650px;
  }

  .context_img-wrap.img-credits {
    min-height: 650px;
  }

  .quote-wrap.mt3.mb3 {
    padding: 2rem;
  }

  .two-columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .container--project_sub-nav {
    -ms-grid-columns: 1fr 0.25fr 1fr;
    grid-template-columns: 1fr 0.25fr 1fr;
  }

  .three-columns.pt4.pb4 {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .mt1.mb1x {
    font-size: 3rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  blockquote {
    font-size: 1.25rem;
    line-height: 1.7rem;
  }

  .nav-logo-link {
    border-top: 0px none #c4c4c4;
  }

  .stage_home {
    padding-top: 8rem;
    padding-bottom: 6rem;
  }

  .body {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .stage-buttons_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .primary-btn {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .secondary-btn {
    display: none;
    margin-top: 1rem;
    margin-left: 0rem;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .home_img-wrap {
    height: 540px;
    min-height: 30vh;
  }

  .bg {
    display: none;
  }

  .features.pt8.pb4 {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }

  .features.pt4.pb8 {
    padding-bottom: 4rem;
  }

  .feature-cols.extra-space_top {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .cta.newsletter-space {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer-grid {
    -ms-grid-columns: -webkit-max-content;
    -ms-grid-columns: max-content;
    grid-template-columns: -webkit-max-content;
    grid-template-columns: max-content;
  }

  .nav-link {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .menu-button {
    display: block;
    width: 48px;
    height: 48px;
    padding-top: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .top-line {
    position: absolute;
    left: 0%;
    top: 12px;
    right: 0%;
    bottom: auto;
    width: 40px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-radius: 20px;
    background-color: #d83754;
  }

  .middle-line {
    position: absolute;
    left: 0%;
    top: 22px;
    right: 0%;
    bottom: auto;
    width: 40px;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: #d83754;
  }

  .bottom-line {
    position: absolute;
    left: 0%;
    top: 32px;
    right: 0%;
    bottom: auto;
    width: 40px;
    height: 2px;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-radius: 20px;
    background-color: #d83754;
  }

  .context_img-wrap.img-storytelling_01 {
    min-height: 540px;
  }

  .context_img-wrap.img-storytelling_02 {
    min-height: 540px;
  }

  .context_img-wrap.img-storytelling_03 {
    min-height: 540px;
  }

  .context_img-wrap.img-storytelling_04 {
    min-height: 540px;
  }

  .context_img-wrap.img-storytelling_05 {
    min-height: 540px;
  }

  .context_img-wrap.img-storytelling_06 {
    min-height: 540px;
  }

  .context_img-wrap.img_context {
    min-height: 540px;
  }

  .context_img-wrap.img-credits {
    min-height: 540px;
  }

  .dropdown-link {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .bg-grey {
    display: none;
  }

  .colored-section.pt8.pb8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .plain-section.pt8.pb8 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .quote-wrap.mt3.mb3 {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .sub-nav_link-text {
    display: none;
  }

  .container--project_sub-nav {
    -ms-grid-columns: 0.5fr 0.25fr 0.5fr;
    grid-template-columns: 0.5fr 0.25fr 0.5fr;
  }

  .three-columns.mt3.mb3 {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .mt1.mb1x {
    font-size: 2rem;
    line-height: 1.25;
  }

  .mb1 {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .block-quote {
    font-size: 1.1rem;
    line-height: 1.7rem;
  }

  .heading-2 {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

#w-node-_8ae11e7f-13d0-571a-5c0c-9bf50e56553c-b729f732 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_512f140c-3a93-dff3-36e8-a2db4b9d39ab-b729f732 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0a0c9644-dca0-48c1-4d16-a3bb78d3f151-b729f732 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0a0c9644-dca0-48c1-4d16-a3bb78d3f152-b729f732 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a7d238df-693a-8ca8-d5f8-c66d717217d1-b729f732 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a7d238df-693a-8ca8-d5f8-c66d717217d2-b729f732 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_00082205-286e-21b7-2a92-24b36ec3a321-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0586250a-a6dc-ec98-0ac4-0f3906f43d9e-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6e67812e-df0a-88e3-ff9a-0440c706ca6b-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_96394ee4-b137-4fa1-d429-adf8d38fad52-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_96394ee4-b137-4fa1-d429-adf8d38fad55-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_96394ee4-b137-4fa1-d429-adf8d38fad58-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_30c4b23f-3e8e-688a-96ab-4af49970b752-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_30c4b23f-3e8e-688a-96ab-4af49970b755-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_30c4b23f-3e8e-688a-96ab-4af49970b758-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_70e4eaa4-7bbc-11fe-6da8-ec0c5f6a81c9-08d43715 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-_70e4eaa4-7bbc-11fe-6da8-ec0c5f6a81ce-08d43715 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_70e4eaa4-7bbc-11fe-6da8-ec0c5f6a81cf-08d43715 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-cba227b1-ff2f-1bc3-a697-38ae56f8c796-0158ecfe {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-bc617b2b-5b7b-94e8-252b-16d0e1bed569-0158ecfe {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_248f63ea-7a6b-25a1-4bcf-39804943325a-0158ecfe {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_248f63ea-7a6b-25a1-4bcf-39804943325c-0158ecfe {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e7051b23-d083-bc89-e066-62da6e36561b-0158ecfe {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-e7051b23-d083-bc89-e066-62da6e365620-0158ecfe {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e7051b23-d083-bc89-e066-62da6e365621-0158ecfe {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c703ac0a-9815-0481-726f-701da012e9fb-3b5f6017 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c703ac0a-9815-0481-726f-701da012e9fd-3b5f6017 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a6655ba5-0009-b472-715b-0b122d7cf186-3b5f6017 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-a6655ba5-0009-b472-715b-0b122d7cf18b-3b5f6017 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-a6655ba5-0009-b472-715b-0b122d7cf18c-3b5f6017 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-cad56d24-cf2a-3b63-d133-8d5a6545498a-5229ed2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cad56d24-cf2a-3b63-d133-8d5a6545498c-5229ed2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c7b9dfcc-7696-e836-54ee-bcd83a850216-5229ed2c {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-c7b9dfcc-7696-e836-54ee-bcd83a85021b-5229ed2c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-c7b9dfcc-7696-e836-54ee-bcd83a85021c-5229ed2c {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_6d32dafd-152d-4388-40d0-c6234f00739b-4c7d256a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

#w-node-_6d32dafd-152d-4388-40d0-c6234f00739d-4c7d256a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3d748506-0300-eea0-1c8f-eb3d9441f37d-4c7d256a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-f179319c-0c88-ca07-fd64-789def622beb-4c7d256a {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_3d748506-0300-eea0-1c8f-eb3d9441f387-4c7d256a {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dc21eb65-5787-c509-c2af-eba8b5b95850-b5b9584d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-dc21eb65-5787-c509-c2af-eba8b5b95851-b5b9584d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dc21eb65-5787-c509-c2af-eba8b5b95859-b5b9584d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dc21eb65-5787-c509-c2af-eba8b5b95861-b5b9584d {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4502d18d-0433-212a-035a-b54500975211-b5b9584d {
  -webkit-align-self: end;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-_4502d18d-0433-212a-035a-b54500975211-b5b9584d {
    -ms-grid-row-align: end;
    align-self: end;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Black.woff2') format('woff2'), url('../fonts/Satoshi-Black.eot') format('embedded-opentype'), url('../fonts/Satoshi-Black.woff') format('woff'), url('../fonts/Satoshi-Black.ttf') format('truetype'), url('../fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BlackItalic.woff2') format('woff2'), url('../fonts/Satoshi-BlackItalic.eot') format('embedded-opentype'), url('../fonts/Satoshi-BlackItalic.woff') format('woff'), url('../fonts/Satoshi-BlackItalic.ttf') format('truetype'), url('../fonts/Satoshi-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'), url('../fonts/Satoshi-Bold.eot') format('embedded-opentype'), url('../fonts/Satoshi-Bold.woff') format('woff'), url('../fonts/Satoshi-Bold.ttf') format('truetype'), url('../fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-BoldItalic.woff2') format('woff2'), url('../fonts/Satoshi-BoldItalic.eot') format('embedded-opentype'), url('../fonts/Satoshi-BoldItalic.woff') format('woff'), url('../fonts/Satoshi-BoldItalic.ttf') format('truetype'), url('../fonts/Satoshi-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Italic.woff2') format('woff2'), url('../fonts/Satoshi-Italic.eot') format('embedded-opentype'), url('../fonts/Satoshi-Italic.woff') format('woff'), url('../fonts/Satoshi-Italic.ttf') format('truetype'), url('../fonts/Satoshi-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Light.woff2') format('woff2'), url('../fonts/Satoshi-Light.eot') format('embedded-opentype'), url('../fonts/Satoshi-Light.woff') format('woff'), url('../fonts/Satoshi-Light.ttf') format('truetype'), url('../fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-LightItalic.woff2') format('woff2'), url('../fonts/Satoshi-LightItalic.eot') format('embedded-opentype'), url('../fonts/Satoshi-LightItalic.woff') format('woff'), url('../fonts/Satoshi-LightItalic.ttf') format('truetype'), url('../fonts/Satoshi-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.woff2') format('woff2'), url('../fonts/Satoshi-Medium.eot') format('embedded-opentype'), url('../fonts/Satoshi-Medium.woff') format('woff'), url('../fonts/Satoshi-Medium.ttf') format('truetype'), url('../fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-MediumItalic.woff2') format('woff2'), url('../fonts/Satoshi-MediumItalic.eot') format('embedded-opentype'), url('../fonts/Satoshi-MediumItalic.woff') format('woff'), url('../fonts/Satoshi-MediumItalic.ttf') format('truetype'), url('../fonts/Satoshi-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff2') format('woff2'), url('../fonts/Satoshi-Regular.eot') format('embedded-opentype'), url('../fonts/Satoshi-Regular.woff') format('woff'), url('../fonts/Satoshi-Regular.ttf') format('truetype'), url('../fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}